.pageContainer{
  margin-top: 60px;
  width: 100vw;
  height: calc(100vh - 50px);
}

.pageHeader{
  background-color: #202020;
  height: 50px;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navPages{
  display: flex;
  gap: 2px;
}

.navLink{
  padding: 10px;
}

.navLink:hover{
  background-color: #505050;
}

.gamesGrid{
  margin: 10px auto;
  width: 90vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
}